#header { visibility: hidden;}
#summary { border-top: 1px dotted #E7E7E7; }

#content {
    font-family: "Helvetica Neue", helvetica, sans-serif;
    color: #444;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 14px -4px #ccc;
    border: 1px solid #EDEDED;
    margin-bottom: 20px;
}

#footer a { color: #F0F0F0; text-shadow: 1px 1px #C0C0C0; }
#footer a:hover { color: #c0c0c0; text-shadow: 1px 1px #f0f0f0; }
#footer { margin-left: 20px; }

#post h1 {
    font-size: 28px;
}
