* { font-family: "Open Sans", sans-serif; }
header img {
	float: left;
	margin: 9px;
	margin-right: 18px;
}

header p {
	float: left;
	font-weight: bold;
	color: #333;
	padding-left: 100px;
}
body, header, header p {
	margin: 0;
	padding: 0;
}

#about {
	padding: 0px 16px;
}

header {
	font-size: 28px;
	border-bottom: 1px solid #efefef;
	height: 42px;
	max-height: 42px;
	padding: 5px 16px;
	overflow: hidden;
}

nav, nav a, nav a:visited {
	text-decoration: none;
	font-size: 16px;
	padding: 5px 16px;
	float: right;
	color: #555;
}

nav a:hover {
	background: #eee;
}


article h1 a {
	text-decoration: none;
	color: #333;
}
article h1 {
	border-bottom: 1px dotted #ccc;
	width: 100%;
	padding-bottom: 10px;
}

article {
	font-size: 18px;
	margin: auto;
	border-bottom: 1px dotted #eee;
	padding: 30px 0;
	width: 80%;
}

footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #efefef;
	width: 100%;
}

#by {
	color: #888;
	font-size: 12px;
	padding-left: 14px;
}

#by a {
	color: #888;
	text-decoration: none;
}

code {
	background: #eee;
	border: 1px solid #E7E5E5;
	padding: 1px 5px;
	font-family: monospace;
	font-size: 16px;
}

#logo {
	width: 26px;
	float: left;
	margin: 11px;
	height: 100%;
}

/* wtf am I doing */
@media screen and (max-width: 500px) {
	header nav a {
		font-size: 14px;
	}

	header {
		margin: auto;
		padding: 5px 4px;
	}
}


/* logo */
#wrapper {
	width: 26px;
	height: 18px;
}

#triangle-upper {
	width: 0;
	height: 0;
	border-bottom: 8px solid black;
	border-right: 8px solid transparent;
	float: right;
}

#rectangle-upper {
	width: 18px;
	height: 4px;
	background: black;
	float: left;
	margin-top: 4px;
}

#triangle-lower {
	float: left;
	width: 0;
	height: 0;
	border-top: 8px solid black;
	border-left: 8px solid transparent;
	margin-top: 2px;
}

#rectangle-lower {
	float: right;
	width: 18px;
	height: 4px;
	background: black;
	margin-top: 2px;
}

