<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ site.name }}</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<header>
		<div id="logo">
			<svg>
				<path d="M0 4 L18 4 L18 0 L26 8 L0 8 Z" />
				<path d="M26 14 L8 14 L8 18 L0 10 L26 10 Z" />
			</svg>
		</div>

		<p>IOTek</p>

		<nav>
			<a href="/about">About</a>
			<a href="/resources">Resources</a>
			<a href="/">Home</a>
		</nav>
	</header>

	{{ content }}
</body>
</html>
