<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<title>{{ site.name }}</title>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<nav>
				<a href="/">home</a>
				<a href="/about">about</a>
			</nav>
		</div>
	
		<div id="content">
			{{ content }}
		</div>

		<div id="footer">
			<a target="_blank" href="https://github.com/iotek"><i class="fa fa-github-square icon"></i></a>
			<a target="_blank" href="bitcoin:1Lhm8K8JRC83b3wQZkkXmJD4bKbJDrsdm3"><i class="fa fa-btc icon"></i></a>
		</div>
	</div>
</body>
</html>
